    {{> head }}
            {{> navbar }}
            <div class="container">
                <div class="row">
                    <div class="col-sm col-md col-lg">
                        <h1>titulo</h1>
                    </div>
                    <div class="col-sm col-md col-lg">
                        <img src="./img/fondo.jpg" class="img-thumbnail mb-5" alt="img" width="50%">
                    </div>
                </div>
            </div>
    {{> footer }}